<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('layouts/head');-%>
		<title>Compose</title>
	</head>
	<!-- -->
	<!-- body tag below -->
	<!-- -->
	<body>
		<%- include('layouts/nav');-%>
		<br />
		<div class="container">
			<form action="/posts/store" method="POST" enctype="multipart/form-data">
				<div class="form-group">
					<label for="formGroupExampleInput">Post title</label>
					<input
						type="text"
						class="form-control"
						id="title"
						placeholder="Title"
						name="title"
					/>
				</div>
				<div class="md-form">
					<label for="inputText">Enter Post</label>
					<textarea
						id="body"
						class="md-textarea form-control"
						rows="3"
						name="body"
					></textarea>
				</div>
				<br />
				<label>Upload Image</label>
				<input type="file" id="image" name="image" />
				<br />
				<br />
				<button>Submit</button>
			</form>
		</div>

		<%- include('layouts/script');-%>
	</body>
	<!-- -->
	<!-- body tag above -->
	<!-- -->
</html>
