<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('layouts/head');-%>
		<title>Compose</title>
	</head>
	<!-- -->
	<!-- body tag below -->
	<!-- -->
	<body>
		<%- include('layouts/nav');-%>
		<form action="/posts/new" method="POST">
			<div class="form-group">
				<label for="formGroupExampleInput">Post title</label>
				<input
					type="text"
					class="form-control"
					id="formGroupExampleInput"
					placeholder="postTitle"
					name="title"
				/>
			</div>
			<div class="md-form">
				<label for="inputText">Enter Post</label>
				<textarea
					id="form7"
					class="md-textarea form-control"
					rows="3"
					name="body"
				></textarea>
			</div>
			<button>Submit</button>
		</form>
		<%- include('layouts/script');-%>
	</body>
	<!-- -->
	<!-- body tag above -->
	<!-- -->
</html>
