<!DOCTYPE html>
<html lang="en">
	<%- include('layouts/head');-%>
	<!-- -->
	<!-- body tag below -->
	<!-- -->
	<body>
		<form>
			<div class="form-group">
				<label for="formGroupExampleInput">Post title</label>
				<input
					type="text"
					class="form-control"
					id="formGroupExampleInput"
					placeholder="postTitle"
				/>
			</div>
			<div class="md-form">
				<label for="inputText">Enter Post</label>
				<textarea
					id="form7"
					class="md-textarea form-control"
					rows="3"
				></textarea>
			</div>
		</form>
		<%- include('layouts/script');-%>
	</body>
	<!-- -->
	<!-- body tag above -->
	<!-- -->
</html>
