<!DOCTYPE html>
<html lang="en">
	<%- include('layouts/head');-%>
	<!-- -->
	<!-- body tag below -->
	<!-- -->
	<body>
		<h1>Posts</h1>
		<%- include('layouts/script');-%>
	</body>
	<!-- -->
	<!-- body tag above -->
	<!-- -->
</html>
