<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('layouts/head');-%>
		<title>Register</title>
	</head>
	<!-- -->
	<!-- body tag below -->
	<!-- -->
	<body>
		<%- include('layouts/nav');-%>
		<br />
		<div class="container">
			<form action="/users/register" method="POST">
				<div class="form-group">
					<label for="formGroupExampleInput">Username</label>
					<input
						type="text"
						class="form-control"
						id="username"
						placeholder="Username"
						name="username"
					/>
				</div>
				<div class="md-form">
					<label for="inputText">Password</label>
					<input
						type="password"
						class="form-control"
						id="password"
						placeholder="password"
						name="password"
					/>
				</div>
				<br />
				<button>Login</button>
			</form>
		</div>

		<%- include('layouts/script');-%>
	</body>
	<!-- -->
	<!-- body tag above -->
	<!-- -->
</html>
